#mandelbrot-container {
    text-align: center;
}

#mandelbrot-canvas {
    border: 1px solid black;
    margin-top: 10px;
}

#mandelbrot-container div {
    margin: 10px 0;
}

#auto-zoom-button {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #auto-zoom-button {
        display: block;
    }
}
